main{
    margin: 100px 0;
}

h1{
    font-size: 64px;
}
nav{
    font-size: 48px;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
}

.link{
    color: dodgerblue;
    text-decoration: none;
}

.link:hover{
    color: deepskyblue;
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0;
}
.source{
    transform: translateX(-50%);
}